<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    
    <style>
        body { 
            font-family: sans-serif; 
            margin: 2em; 
        }
        /* Esta es una "clase" que le pondremos a las tareas completadas */
        .tarea-completada {
            text-decoration: line-through; /* ¡El tachado! */
            color: #888; /* Un color gris */
        }
        li {
            margin-bottom: 0.5em; 
        }
    </style>
</head>
<body>
    <H1>Mi CRUD de tareas utilizando GIT</H1>
    <ul>
    {% for tarea in tareas %}

        <li {% if tarea['completada'] %} class="tarea-completada" {% endif %}>

            {{ tarea['descripcion'] }} 

            <form action="{{ url_for('borrar_tarea', tarea_id=tarea['id']) }}" method="POST" style="display: inline;">
                <button type="submit">Borrar</button>
            </form>

            {% if not tarea['completada'] %}
                <form action="{{ url_for('completar_tarea', tarea_id=tarea['id']) }}" method="POST" style="display: inline;">
                    <button type="submit">Completar</button>
                </form>
            {% endif %}

        </li>
    {% else %}
        <li>¡No hay tareas pendientes! Agregá una.</li>
    {% endfor %}
</ul>
    <hr> <h2>Agregar Nueva Tarea</h2>

    <form action="/agregar" method="POST">
        
        <label for="descripcion-tarea">Nueva Tarea:</label>
        
        <input type="text" id="descripcion-tarea" name="descripcion" required>
        
        <button type="submit">Agregar</button>
    </form>
</body>
</html>